*{
    margin: 0%;
}
body{
    background-image: url(Imgs/foto\ 2.jpeg);
}
/*-Inicio Header-*/
header{
    background-color: #CCD5AE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}


.logo{
    height: 100%;
    width: 100%;
    text-align: center;
}
.cadastre-se{
    margin-right: 5%;
    font-size: xx-small;
    text-align: center;
    text-decoration: none;
    color: black;
}
.cadastre-se a:visited{
    color: black;
  text-decoration: none;
}
.cadastre-se a:hover{
    color: #FEFAE0;
    text-decoration: none;
}  
  a {
    text-transform:uppercase;
    text-decoration: none;
  }

  .sidebar {
    width: 200px;
    height: 100%;
    background-color: #E9EDC9;
    position: fixed;
    top: 0;
    left: -200px;
    transition: all 0.3s ease-in-out;
  }
  .sidebar-toggle-label {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + .sidebar {
    left: 0;
  }
  li{
    margin-left: 10px;
    height: 10px;
    margin-top: 30%;
  }

  .box-verde {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D4A373;
    width: 80%;
    height: 100%;
    margin-top: 40px; 
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image-box {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .image-box img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .description {
    padding: 10px;
  }
  
  .description h2 {
    margin-top: 0;
    font-size: 1.2rem;
  }
  
  .description p {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  
  
  
 