*{ margin: 0%}

.logo {
    background: left / cover url('https://thumbs.dreamstime.com/b/fundo-animado-com-notas-musicais-notas-da-m%C3%BAsica-la%C3%A7o-43264196.jpg');
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', fantasy;
    color: #ca4000b9;
    text-shadow: #000 2px 2px 0.2rem;
    background-color: aquamarine;
}

header > h1 {
    margin-bottom: 0;
}

header > time {
    font: italic 0.7rem sans-serif;
}
