 table{
   border-collapse:collapse;

}
.borda td{
    border: 3px solid black;
}
thead{
    background-color: #6f6fff;
}
tfoot{
    background-color: orange;
}
table td{
    width: 180px;
    height: 50px;
}